.barSearch {
    height: 55px;
    border-radius: 25px;
    background: #CEDEFF;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.barSearch > input {
    width: 15rem;
    margin-top: 8px;
    padding: 5px;
    outline: none;
}

.barSearch > button {
    border-radius: 25px;
    background: #2B308B;
    padding: 5px;
    color: #fff;
    width: 70px;        
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}