.container {
    width: 45%;
    height: 505px;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 41px;
}

.title {
    color: #2B308B;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 23px;
}

.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group > .groupChild > input{
    width: 70%;
}

.field {
    width: 100%;
    outline: none;
}

.field > label {
    color: #404D61;
    font-weight: 500;
}

.inputForm {
    margin: 10px 0;
    width: 100%;
    border: 1px solid #404D61;
    padding: 10px 15px;
    border-radius: 20px;
}

.buttons {
    margin-top: .8rem;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.buttons > button {
    width: 195px;
    padding: 13px 20px;
    border-radius: 25px;
}

.buttons > button:nth-child(1) {
    border: 1px solid #5A81FA;
    background: #CEDEFF;
    color: #000;
}

.mensajeLimitante {
    font-size: 13px;
    margin-left: 1rem;

}

@media only screen and (max-width: 816px) {
    .container {
        width: 95%;
        height: auto;   
        margin-left: 0rem;
        margin-right: 0rem;
        margin: auto;
        margin-top: .8rem;

    }
    
    .title {
        font-size: 23px;
        margin-bottom: 18px;
    }

    .buttons {
        margin-top: 1rem;
    }

    .mensajeLimitante {
        font-size: 9px;
    }

    .groupChild > input {
        width: 95%;
        padding: 10px;
    }

    .buttons > button {
        width: 125px;
        padding: 13px 20px;
        border-radius: 25px;
    }
    .group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .group > .groupChild > input{
        width: 95%;
    }
}