.container {
    display: flex;
    position: relative;
    height: 100vh;
}

.children {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/*Responsive Design*/
@media only screen and (max-width: 816px) {
    .container {    
        height: 100%;
    }
}