.contentSidebar {
    color: #fff;
    padding: 10px;
    height: 100%;
    background: #2B308B;
    width: 250px;
    position: relative;
}

.contentSidebarMobile {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 8px;
    left: 16px;
    border-radius: 15px;
    border: 1px solid #DADBDC;
    background: #FFF;
    padding: 15px;
    height: 80px;
   
}

.MobileLink {
    color: #fff ;
    background: #2B308B;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    align-content: center;
    font-size: 15px;
}

.logoutBtn {
    color: #2B308B;
    background: #FFF;
    border-radius: 15px;
    height: 35px;
    width: 210px;
    position: absolute;
    bottom: 25px;
}