.container {
    width: 570px;
    height: 505px;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 0px 41px;
}

@media only screen and (max-width: 816px) {
    .container {
        width: 95%;
        height: auto;   
        margin: auto;
        margin-top: .8rem;
        margin-bottom: 1rem;
    }
}

